:root {
    --dark-gray: #120F16;
    --dark-purple: #220d3d;
    --chocolate-purple: #27202e;
  }
html, body {
    margin: 0;
    padding: 0;
  }
*{
    font-family: 'Montserrat';
    font-size: 22px;;
    font-size: medium;
    text-decoration: none;
    color: white;
   
  }
.page-1{
    background-image: linear-gradient(var(--dark-purple), var(--dark-gray) 80%);
    height: 800px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    
}
.page-2{
    position: relative;
    background-image: linear-gradient(var(--dark-gray), var(--chocolate-purple) 60%);
    height: 700px;
    overflow: hidden;
  
    margin: 0;
    padding: 0;
}
.page-3{
    background-image: linear-gradient(var(--chocolate-purple) , var(--dark-gray) 60%);
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 0px;
}
.header{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    /* background-color: #120F16; */
    margin: 0;
    padding: 20px;
}
.items{
    display: flex;
    gap: 20px;
    font-family:  'Montserrat';
    font-weight: 100;
    color: rgb(255, 255, 255);
    margin-right: 20px;
    
}
.top-icon{
    margin-top: 8px;
    height: 40px;
    margin-left: 20px;
}
.main-display{
    display: flex;
    justify-content: space-between;
    margin: 200px;
    margin-top: 150px;
    
  
   
}

.content{
    color: white;
    display: flex;
    flex-direction: column;
   
    
}
.main-text{
    font-weight:900;
    font-size:45px;
   
}
.span-1{
    font-weight:900;
    font-size:45px;
    position: relative;
  display: inline-block;

  overflow: hidden;
}
.span-1{
    background: linear-gradient(to right, rgba(247, 162, 255, 0.623), rgba(204, 127, 255, 0.562)50%, rgb(255, 255, 255) 50%);
  }
  .span-1 {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
  }
  .span-1 {

    transition: background-position 800ms ease-in;
  }
  .span-1:hover{
    background-position: 0 100%;
  }
 
  
  .span-2{
    font-size:xx-large;
    font-weight: 100;
  }

.sub-text{
    font-family:  'Montserrat';
   font-weight: 100;
  line-height: 1.5;
}
.main-button{
    display: inline-block;
    margin-top: 10px;
    align-self: flex-start;
    color: white   ;
    background-color:var(--chocolate-purple);
    padding: 10px;
    width: 120px;
    border: none;
    border-radius: 8px;
    animation: button-fade ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: none;
    transition: transform 0.4s ease-in;
    
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
 
    100%{
        opacity: 0;
    }
}
@keyframes fade2{
        0%{
            opacity: 0;
        }
        25%{
            opacity: 0;
        }
        50%{
            opacity: 1;
        }
     
        100%{
            opacity: 0;
        }
}
.ipod-image{
    
    height: 400px;
    animation: image-fade ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
   
}
@keyframes image-fade {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes button-fade {
    0%{
        transform: translateY(-10px);
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.vinyl{
    transform:rotate(0deg);
    position: absolute;
    right:350px;
    top:300px;
    height: 30%;
    transition: transform 1s ease-in-out;
    -webkit-filter: drop-shadow(0px 0px 10px #000000);
    filter: drop-shadow(0px 0px 10px #000000);
    animation: image-fade ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: none;
  
   
}
.main-button:hover + .vinyl{
    transform: translateX(-50px) rotate(-90deg);
   
}
.main-button:hover{
    
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.678);
    
  transform: scale(1.03);
}
.whole-page{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    
}
.top-text{
    margin-top: 50px;
    font-size: x-large;
    font-weight: 100;
}
.cards{
    display: flex;
    gap:50px;
    
    
}
.card-1,.card-2,.card-3{
    height: 900px;
    width: 450px;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;


}
iframe{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.459);
    transition: transform 0.3s ease-in-out;
 
    
}
iframe:hover{
    transform: scale(1.02);

}
.subtext{
    text-align: center;
  align-self: center;
    margin: 30px;
    line-height: 1.5;
  
}
.quote{
    margin: 0px;
}
.text-quote{
   text-align: center;
   margin: 0px;
  font-size: xx-large;
}
.author{
    font-weight: 100;
}
.cta{
    font-weight: 100;
    
   
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 50px;
    padding: 35px; 
    /* background-image:  linear-gradient(var(--dark-purple), var(--chocolate-purple),var(--dark-gray)); */
    background-color: #80296627;
    margin-left: 30%;
    margin-right: 30%;
    border-width: 5px;
    /* border-color: #000000; */
    /* border-style:solid; */
    border-radius: 20px;
    box-shadow: 0 0 20px #00000062;
}
.heading{
    font-size:x-large;
    margin: 0;
    font-weight: 500;
}
.end-button{
    text-align: center;
    padding: 10px;
    background-color: transparent;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
    border-width: 1px;
    transition: transform 2s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}
.end-button:hover{
    transform: scale(1.04);
    background-color:rgba(36, 4, 20, 0.76);
}
.icon-end{
    height: 100px;
}
.github-link{
    color: #c26598e0;
}